.admin {
  margin: 0;
  position: relative;
}

.headerAdmin {
  display: flex;
  justify-content: space-between;
  background-color: rgb(130, 166, 238);
  position: absolute;
  width: 100vw;
  padding: 0.5rem;
  margin-bottom: 4rem;
  color: aliceblue;
}

.cardsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 5rem;
}
